<% include ./partials/header %>

  <div class="container extra-padding">
    <div class="row">
      <div class="col">
        <h1>Movies</h1>
        <div class="row">
          <% for(var i=0; i<searchResults.length; i++) { %>
            <% if (searchResults[i].media_type === 'movie') { %>
              <div class="col">
                <div class="card" style="width: 250px;">
                  <img class="card-img-top" src="http://image.tmdb.org/t/p/w342/<%= searchResults[i].poster_path %>" alt="Card image cap" onerror="this.src='http://via.placeholder.com/342x513';">
                  <div class="card-body">
                    <span class="card-title"><%= searchResults[i].title %></span><br>
                    <a href="/watch-movie/<%= searchResults[i].id %>" class="btn btn-primary">Watch</a>
                  </div>
                </div>
              </div>
              <% } %>
            <% } %>
        </div>
      </div>
      <div class="col">
        <h1>TV Shows</h1>
        <div class="row">
          <% for(var i=0; i<searchResults.length; i++) { %>
            <% if (searchResults[i].media_type === 'tv') { %>
              <div class="col">
                <div class="card" style="width: 250px;">
                  <img class="card-img-top" src="http://image.tmdb.org/t/p/w342/<%= searchResults[i].poster_path %>" alt="Card image cap" onerror="this.src='http://via.placeholder.com/342x513';">
                  <div class="card-body">
                    <span class="card-title"><%= searchResults[i].name %></span><br>
                    <a href="/watch-tv-show/<%= searchResults[i].id %>" class="btn btn-primary">Watch</a>
                  </div>
                </div>
              </div>
              <% } %>
            <% } %>
        </div>
      </div>
    </div>
  </div>

  <% include ./partials/footer %>
