<% include ./partials/header %>

    <div class="container extra-padding">
      <div class="row">
        <div class="col-lg-8">
          <h1><%= movieInfo.title %></h1>
          <p><%= movieInfo.overview %></p>
          <div class="dionysus-video">
            <video id="my-video" class="video-js" autoplay controls preload="auto"  data-setup="{}" width="730">
              <source src="http://ctvod.run/ctv/guestmod/<%= movieInfo.title.replace(/[^\w\s]/gi, '').replace(/\s+/g, '.').toLowerCase() %>.mp4">
              <source src="http://ctvod.run/ctv/guestmod/<%= movieInfo.title.replace(/[^\w\s]/gi, '').replace(/\s+/g, '.').toLowerCase() %>.mkv">

              Please update your browser to the latest version of Chrome to stream this content
            </video>
          </div>
        </div>
      </div>
    </div>
<style>
body {
  background-image: linear-gradient(to right, rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(http://image.tmdb.org/t/p/original<%= movieInfo.backdrop_path %>);
  background-position: center;
  background-size: cover;
}
</style>
<% include ./partials/footer %>
