<% include ./partials/header %>
      <!-- Sandbox only allows same origin and scripts -->

    <div class="container extra-padding d-flex align-items-center flex-column">
      <span class="error text-center"><%= streamsError %></span>
          <div class="embed-responsive-21by9">
            <iframe width="560" height="315" src="<%= link1 %>" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
          </div>
          <div class="embed-responsive-21by9">
            <iframe width="560" height="315" src="<%= link2 %>" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
          </div>
          <div class="embed-responsive-21by9r">
            <iframe width="560" height="315" src="<%= link3 %>" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
          </div>
          <div class="embed-responsive-21by9">
            <iframe width="560" height="315" src="<%= link4 %>" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
          </div>

    </div>

      <!-- This can probably be converted into a EJS loop (would requuire app.js modification as well) -->


<% include ./partials/footer %>
