<% include ./partials/header %>
      <!-- Sandbox only allows same origin and scripts -->
    <div class="container extra-padding">
      <span class="error text-center"><%= streamsError %></span>
      <div class="row">
        <div class="col-lg-8">
          <h1><%= tvInfo.name %></h1>
          <h2 class="subtext">S<%= episodeInfo.season_number %>:E<%= episodeInfo.episode_number %> "<%= episodeInfo.name %>"</h2>
          <p><%= episodeInfo.overview %></p>
          <div class="embed-responsive embed-responsive-16by9">
            <!-- Sandbox only allows same origin and scripts -->
            <iframe class="embed-responsive-item" src="<%= openloadLinks[0] %>" allowfullscreen sandbox="allow-same-origin allow-scripts" onerror="console.log('ERRRORRRR')"></iframe>
          </div>
        </div>
        <div class="col-lg-4">
          <div id="accordion" role="tablist">
            <% include partials/watch %>
          </div>
        </div>
      </div>
    </div>
<style>
body {
  background-image: linear-gradient(to right, rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(http://image.tmdb.org/t/p/original<%= tvInfo.backdrop_path %>);
  background-position: center;
  background-size: cover;
}
</style>
<% include ./partials/footer %>
