<% include ./partials/header %>
      <!-- Sandbox only allows same origin and scripts -->
    <div class="container extra-padding">
      <span class="error text-center"><%= streamsError %></span>
      <div class="row">
        <div class="col-lg-8">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="/watch-thevideo/<%= thevideoLinks[0].substring(20) %>" allowfullscreen sandbox="allow-same-origin allow-scripts" onerror="console.log('ERRRORRRR')"></iframe>
          </div>

        </div>
        <div class="col-lg-4">



          <div id="accordion" role="tablist">

            <!-- Will only show Google Docs if the link count is above 0. -->
            <% if (gdocsLinks.length > 0) { %>
            <div class="card season-selector">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseGdocs" aria-expanded="true" aria-controls="collapseGdocs">
                    Google Drive
                  </a>
                </h5>
              </div>
              <div id="collapseGdocs" class="collapse " role="tabpanel" aria-labelledby="headingGdocs" data-parent="#accordion" >
                <div class="card-body">
                  <ul>
                  <% for (let i = 0; i < gdocsLinks.length; i++) { %>
                    <li><button onclick="document.querySelector('iframe').setAttribute('src', '<%= gdocsLinks[i] %>')" class="source" data-toggle="tooltip" data-placement="right" title="<%= gdocsTitles[i] %>">Google Drive Link #<%= i + 1%></button></li>
                  <% } %>
                </ul>
                </div>
              </div>
            </div>
            <% } %>

            <% if (thevideoLinks.length > 0) { %>
            <div class="card season-selector">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseThevideo" aria-expanded="true" aria-controls="collapseThevideo">
                    TheVideo
                  </a>
                </h5>
              </div>
              <div id="collapseThevideo" class="collapse " role="tabpanel" aria-labelledby="headingThevideo" data-parent="#accordion" >
                <div class="card-body">
                  <ul>
                  <% for (let i = 0; i < thevideoLinks.length; i++) { %>
                    <li><button onclick="document.querySelector('iframe').setAttribute('src', '/watch-thevideo/<%= thevideoLinks[i].substring(20) %>')" class="source" data-toggle="tooltip" data-placement="right" title="<%= thevideoTitles[i] %>">TheVideo Link #<%= i + 1%></button></li>
                  <% } %>
                </ul>
                </div>
              </div>
            </div>
            <% } %>

            <% if (openloadLinks.length > 0) { %>
            <div class="card season-selector">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                  <a data-toggle="collapse" href="#collapseOpenload" aria-expanded="true" aria-controls="collapseOpenload">
                    Openload
                  </a>
                </h5>
              </div>
              <div id="collapseOpenload" class="collapse " role="tabpanel" aria-labelledby="headingOpenload" data-parent="#accordion" >
                <div class="card-body">
                  <ul>
                  <% for (let i = 0; i < openloadLinks.length; i++) { %>
                    <li><button onclick="document.querySelector('iframe').setAttribute('src', '<%= openloadLinks[i] %>')" class="source" data-toggle="tooltip" data-placement="right" title="<%= openloadTitles[i] %>">Openload Link #<%= i + 1%></button></li>
                  <% } %>
                </ul>
                </div>
              </div>
            </div>
            <% } %>


        </div>
      </div>



    </div>

<style>
body {
  background-image: linear-gradient(to right, rgba(0,0,0,0.9),rgba(0,0,0,0.6)), url(http://image.tmdb.org/t/p/original<%= tvInfo.backdrop_path %>);
  background-position: center;
  background-size: cover;
}
</style>
<% include ./partials/footer %>
