<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta charset="utf-8">
    <title>Dionysus </title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1 class="text-center logo">Dionysus</h1>
    <div class="text-center block-center"><span class="error text-center"><%= streamsError %></span></div>
    <div class="iframe-wrapper">
      <!-- Sandbox only allows same origin and scripts -->
    	<iframe width="560" height="315" src="<%= link1 %>" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
    </div>
    <div class="iframe-wrapper">
      <iframe width="560" height="315" src="<%= link2 %>" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
    </div>
    <div class="iframe-wrapper">
      <iframe width="560" height="315" src="<%= link3 %>" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
    </div>
    <div class="iframe-wrapper">
      <iframe width="560" height="315" src="<%= link4 %>" frameborder="0" allowfullscreen sandbox="allow-same-origin allow-scripts"></iframe>
    </div>
  </body>
</html>
